* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
/* ************************************************ Filter *************************************************** */

.filters {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  grid-template-rows: 100%;
  height: 200px;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-bottom: 2px silver solid;
  
}

.app_selection {
  display: flex;
  flex-direction: column;
}

.products_head {
  margin-bottom: 10px;
}

.select_products {
  height: 40px;
  width: 500px;
  padding: 5px;
  font-size: 17px;
}

.sorting {
  display: flex;
  flex-direction: column;
}

.sorting_head {
  margin-bottom: 10px;
}

.select_sort {
  height: 40px;
  width: 150px;
  padding: 5px;
  font-size: 14px;
}

.translation {
  display: flex;
  flex-direction: column;
}

.translation_head {
  margin-bottom: 10px;
}

.select_language {
  height: 40px;
  width: 100px;
  padding: 5px;
  font-size: 14px;
}

/* *********************************************** Review Card ************************************************ */

.rev_card {
  display: grid;
  position: relative;
  border-radius: 10px;
  font-size: 10px;
  height: 180px;
  width: 600px;
  padding: 10px;
  margin: 20px;
  -webkit-box-shadow: 3px 5px 15px 2px rgba(181,181,181,0.54); 
  box-shadow: 3px 5px 15px 2px rgba(181,181,181,0.54);
}

.head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 23px;
  width: 23px;
  border-radius: 5px;
  background-color: purple;
  margin-right: 10px;
}

.app_store {
  display: flex;
  font-size: 10px;
  border: 1px solid none ;
  height: 22px;
  padding: 5px;
  background-color: rgb(228, 226, 226);
  border-radius: 3px;
  margin-right: 15px;
  align-items: center;
}

.review_head {
  font-size: 14px; 
  margin-right: 15px;
  font-weight: 400;
}

.review_text {
  padding-top: 20px;
  height: 100px; 
  font-size: 14px;
  font-weight: 300;
}

.foot {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 15% 10% 8% 29% 10% 13%;
  grid-template-rows: .1fr;
  justify-content: left;
  align-items: center;  
  font-size: 14px;
}

.user {

  margin-right: 15px;
}

.version {

  margin-right: 15px;
}

.flag {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.country_name {
  
  margin-right: 15px;
}


.reply {
  border: none;
  padding: 3px;  
  background-color: white;
  outline: none;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.share {
  border: none;
  align-items: center ;
  padding: 3px;  
  background-color: white;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  transform: translate(0,-2px);
  /* background-image: url(); */
}

.arrow {
  transform: translate(0,4px);
  align-items: baseline;
}
